
 {{!-- https://hungry-rose-chipmunk.cyclic.app/allStudents --}}
 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehrad Akbari</title>
    <style>
      .name{
        display: inline-block;
        background-color: gold;
      }
      .number{
        display: inline-block;
        background-color: gold;
      }
      .name1{
        display: inline;
      }
    </style>
</head>
<body>
  <ul>
    <li><a href="/CPA">CPA Students</a></li>
    <li><a href="/highGPA">Highest GPA</a></li>
    <li><a href="/allStudents">All Students</a></li>
    <li><a href="/addStudent">Add a new Student</a></li>
    <li>
      <a href="/student/3">Student number 3</a>
    </li>
  </ul>
  <hr>

{{{body}}}

<hr>

<h2>Student Honor Pledge:</h2><br>

<p>I acknoweledge the Colleg's academic integrity policy.<br>
 On My honor, I hvae neither given or recived unauthorized aid on this test. <br>

<p class="name1">Name: </p><p class="name" ><b>Mehrad Akbari</b></p>
<p class="name1">Student ID: </p><p class="number"><b>130077217</b></p>




</body>
</html>